%p#notice= notice

%p
  %b Title:
  = @list.title
%p
  %b Date:
  = @list.date

%p
  %b Speakers:
  %ul
    - @list.list_entries.each do |l|
      %li
        = l.id
        = l.speaker.name
        = '(Finished)' if l.finished_at
        = button_to 'Finish', { id: l.id, action: 'update',  controller: 'list_entries', list_entry: {  finished_at: Time.current } }, method: :patch
        = button_to 'Delete', { action: 'destroy', controller: 'list_entries', id: l.id }, method: :delete

%p
  Add someone to the list:
  = render 'list_entries/form'

= link_to 'Edit', edit_list_path(@list)
\|
= link_to 'Back', lists_path
